[submodule "themes/themes/aether"]
	path = themes/themes/aether
	url = https://github.com/josephhutch/aether.git
[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/josephhutch/aether.git
